body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}

p{
    color:rgb(102, 101, 101);
    font-size:16px;
}
h1{
    font-size:40px;
    font-weight: 900;
}



.flexible-container{
    display: flex;
}
.div-section{
  width:50%;
  padding:10%;
  
}


.div-section img{
    width:80%;
}

.border{
    
    padding-left: 10px;
    border-left: 4px solid;
    border-image: linear-gradient(#caeee5,#88cfe0 );
    border-image-slice: 1;
    
   
}

.text-color{
    color:#65a2c3;
}

.button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* background-image: linear-gradient(#d2f3eb,#a3dfee); */
    background-image: linear-gradient(to right,#fde8e8,#a8dfec);
    font-size:12px;
    margin-bottom: 40px;
    padding: 10px 24px;
    border-radius: 5px;
}

.My-Mission-section h1{
    text-align: center;
    
}
.year-color{
    color:#65a2c3;
    font-size:50px;
}



.My-Mission{
    padding:30px 2%;
    margin: 50px 10px;
    border-radius: 20px;
}

.My-Mission img{
    width:40%;
    
}

#mission{
    
    background-color:#dce9ec ;
    
    /* margin: 50px 4px; */
    margin-left: 80px;
    /* height: 50%; */
    width:50%;
    
  
  }


#vission{
 background-color:rgb(245, 225, 225);
}

#goals{
    background-color:rgb(250, 250, 232);
    margin-right:80px;
}

.develop-section{
   
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 220px 200px;
    margin:0 90px;
    
}
.develop-img{
    width:70%;
    margin-top:24px;
    padding-right: 100px;
}


.community-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 290px 270px;
    /* margin:0 40px; */
    
}

.community-text h1{
    font-size:34px ;
}

.community-img{
    width:60%;
    /* padding-right: 100px; */
}


.women-section h1{
text-align:center;
}

.women-img{
    width:60%;
    height: 400px;
    margin-top: 20px;
}

.women-text{
    font-size:24px;
}


.footer{
    background-color:black;
    color: white;
    text-align: center;
    font-style: italic;
    padding:14px 0;
}
.footer p{
    color:white;
}

.footer-year-color{
    color:#195575;
    font-size:50px;
}


